<!-- partial: footer -->
<div id="footer">
  <footer class="py-4">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-center align-items-center gap-4 mb-3">
        <a target="_blank" href="https://pyrogiochi.com/" class="d-block"><img src="/img/brand1.png" alt="Brand 1" width="250" class="img-fluid"></a>
        <a target="_blank" href="https://www.fuochiartificiali.it/" class="d-block"><img src="/img/brand2.png" alt="Brand 2" width="250" class="img-fluid"></a>
        <a target="_blank" href="https://www.martarellogroup.it/" class="d-block"><img src="/img/brand3.png" alt="Brand 3" width="250" class="img-fluid"></a>
        <a target="_blank" href="https://uborgonovo.it/" class="d-block"><img src="/img/brand4.png" alt="Brand 4" width="250" class="img-fluid"></a>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <a href="/" class="d-flex align-items-center justify-content-center m-2 text-primary text-decoration-none fw-bold">
          <img src="/img/logo.png" alt="Bolognini Sport" width="150">
        </a>
      </div>
    </div>
  </footer>
</div>