<!-- partial: navbar -->
<div id="navbar">
    <nav class="navbar fixed-top navbar-expand-lg bg-light navbar-light py-3 site-navbar">
        <div class="container">

            <a href="/" class="navbar-brand">
                <img src="/img/logo.png" alt="Bolognini Sport" width="290">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto align-items-lg-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/#categorie" id="categoriesLabel">Categorie</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/#orari">Orari</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/#contatti">Contatti</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>